body{
    background-color: rgba(61, 10, 10, 0.904);
    font-family: Georgia, 'Times New Roman', Times, serif
}

img{
    width: 100%;
}

.pageBody{
    background-color: white;
    font-size: 16pt;
    align-content: center;
    text-align: center;
    margin-right: 5%;
    margin-left: 5%;    
    padding-top: 10pt;
    padding-bottom: 10pt;
    box-shadow: 0 4px 8px 0 black;
}

/* HOME PAGE ELEMENTS */

#homebody{
    background-color: rgb(61, 10, 10);
}

.homeh1{
    color: white;
    font-size: 48pt;
    text-align: center;
    padding: 20pt;
    font-family: 'Brush Script MT';
}

.bannerimg{
    background-image: url("coffee.jpg");
    background-color: rgb(61, 10, 10);;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.bannertext{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.homeh2{
    color: white;
    font-size: 30;
    text-shadow: 2px 2px 4px black;
}

.homep{
    color: white;
    font-size: 16pt;
    text-align: center;
    margin-top: 10pt;
    margin-bottom: 10pt;
}

.linktext{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.photomenu{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    direction: column;
    flex-wrap: wrap;
}

.homelink{
    color: white;
    font-size: 48pt;
    background-color: rgba(49, 0, 3, 0.863);
    border-radius: 25px;
    padding: 10pt;
    text-decoration: none;
}

.homelink:hover{
    color: white;
    opacity: 50%;
}

#drinksimg{
    background-image: url("drinkmenu.jpg");
    background-color: rgb(61, 10, 10);
    width: 300pt;
    height: 300pt;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    box-shadow: 0 4px 8px 0 black;
    margin-bottom: 10pt;
}

#foodimg{
    background-image: url("bakeryMenu.jpg");
    background-color: rgb(61, 10, 10);;
    width: 300pt;
    height: 300pt;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    box-shadow: 0 4px 8px 0 black;
    margin-bottom: 10pt;
}

#aboutimg{
    background-image: url("beans.jpg");
    background-color: rgb(61, 10, 10);;
    width: 300pt;
    height: 300pt;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    box-shadow: 0 4px 8px 0 black;
    margin-bottom: 10pt;
}

#contactimg{
    background-image: url("contact.jpg");
    background-color: rgb(61, 10, 10);;
    width: 300pt;
    height: 300pt;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    box-shadow: 0 4px 8px 0 black;
    margin-bottom: 10pt;
}

/* MENU PAGES ELEMENTS */

.menuSection{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    direction: column;
    flex-wrap: wrap;
}

.menuh1{
    color: black;
    font-size: 20pt;
}
.menuh2{
    color: black;
    padding-top: 20pt;
    padding-bottom: 20pt;
    font-size: 16pt;
}
.menuh3{
    color: rgb(63, 62, 62);
    padding-top: 10pt;
    padding-bottom: 10pt;
    font-size: 16pt;
}

/* ABOUT US PAGE ELEMENTS */
.aboutDisp{
    display: flex;
    justify-content: space-arond;
    align-items: center;
    padding: 10pt;
}

.aboutp{
    color: rgb(63, 62, 62);
    font-size: 16pt;
}

.abouth1{
    color: black;
    font-size: 20pt;
}

.abouth2{
    color: black;
    padding-top: 20pt;
    padding-bottom: 20pt;
    font-size: 16pt;

}

.abouth3{
    color: rgb(63, 62, 62);
    padding-top: 10pt;
    padding-bottom: 10pt;
    font-size: 16pt;
}

.colabout{
    padding-top: 20pt;
}

/* CONTACT US PAGE ELEMENTS */

.contacth1{
    color: black;
    font-size: 20pt;
}

.contacth2{
    color: black;
    padding-top: 20pt;
    padding-bottom: 20pt;
    font-size: 16pt;

}

.contacth3{
    color: rgb(63, 62, 62);
    padding-top: 10pt;
    padding-bottom: 10pt;
    font-size: 16pt;
}

#contactpageimg{
    width: 75%;
    height: auto
}

.navbar{
    background-color: rgb(61, 10, 10);
    box-shadow: 0 4px 8px 0 black;
}

.nav-link{
    color: white;
}

.nav-link:hover{
    color: white;
    opacity: 50%;
}

.navbar-brand{
    color: white;
    font-family: 'Brush Script MT';
}

.navbar-brand:hover{
    color: white;
}

.navbar-light{
    background-color: white;
    font-family: 'Times New Roman', Times, serif;
}
